/*-----------Contenido 1-----------*/
.content-1{
    padding-bottom: 95px;
}
.titulo-cont-1-span{
    font-weight: bold;
}
.titulo-cont-1{
    text-align: center;
    font-weight: 100;
}
.content-1 p{
    margin: 0 auto;
    text-align: center;
    width: 950px;
    font-size: 1.25rem;
}
.contet-1-hr{
    width: 80px;
    border: 2px solid #000000;
    margin-top: 47px;
    margin-bottom: 63px;
}

/*-----------Contenido 2-----------*/
.content-2{
    padding-bottom: 95px;
    margin: 0 auto;
}
.content-2-texto{
    background-color: #ffeae2;
    float: left;
    width: 947px;
    height: 650px;
}
.cont-2-p-1{
    font-size: 2.25rem;
    font-weight: bold;
    width: 557px;
    margin-left: 250px;
    margin-top: 136px;
}
.cont-2-p-2{
    font-weight: 100;
    margin: 0px;
    font-size: 2.25rem;
    margin-left: 250px;
    padding-top: 64px;
}
.content-2-img{
    background-image: url("../img/2.jpg");
    background-size: cover;
    float: left;
    width: 947px;
    height: 650px;
}
.cont-2-img-p{
    margin-left: 240px;
    margin-top: 58px;
}

/*-----------Contenido 3-----------*/
.content-colum-1{
    width: 700px;
    float: left;
}
.content-colum-2{
    width: 700px;
    float: left;
}
.content-colum-1 h4{
    font-size: 1.875rem;
    font-weight: bold;
}

.content-c-2{
    border-top: 1px solid #eae9e7;
    border-bottom: 1px solid #eae9e7;
    border-left: 1px solid #eae9e7;
    padding-top: 50px;
    padding-bottom: 56px;
}
.content-c-3{
    border-bottom: 1px solid #eae9e7;
    border-left: 1px solid #eae9e7;
    padding-top: 50px;
    padding-bottom: 56px;
}
.content-c-4{
    margin-top: 168px;
    margin-bottom: 4px;
    padding-top: 50px;
    padding-bottom: 57px;
    border-top: 1px solid #eae9e7;
    border-bottom: 1px solid #eae9e7;
    border-left: 1px solid #eae9e7;
    border-right: 1px solid #eae9e7;
}
.content-c-5{
    border-left: 1px solid #eae9e7;
    border-bottom: 1px solid #eae9e7;
    border-right: 1px solid #eae9e7;
    padding-top: 50px;
    padding-bottom: 69px;
}

.content-3 h4{
    width: 548px;
    margin-left: 50px;
}

.content-3 p{
    width: 548px;
    margin-left: 50px;
}

.boton{
    text-align: center;
    margin-top: 60px;
    margin-bottom: 143px;
}
.boton a{
    border: 2px solid #000000;
    font-size: 1.25px;
    text-decoration: none;
    font-weight: bold;
    padding: 17px 28px;
    border-radius: 5px;
    color: black;
}

/*-----------Contenido 4-----------*/
.fondo-2{
    background-image: url("../img/3.jpg");
    background-size: cover;
}
.cont-5-p-1{
    padding-top: 205px;
    margin: 0 auto;
    font-size: 3.75rem;
    color: white;
    width: 819px;
    text-align: center;
}
.cont-5-p-2{
    padding-top: 60px;
    padding-bottom: 166px;
    font-size: 1.25rem;
    color: white;
    text-align: center;
    margin-bottom: 0;
}
.cont-5-p-2 span{
    text-decoration: underline;
}

/*-----------Contenido 5-----------*/
.fondo-3{
    background-color: #f3f4f5;
    height: 1200px;
}

/*-----------Contenido 6-----------*/
.cont-6-h2 h2{
    margin: 0;
    padding-top: 100px;
    padding-bottom: 100px;
}
.cont-6-colum1{
    width: 650px;
    float: left;
}
.cont-6-colum2{
    width: 740px;
    float: right;
    padding-top: 266px;
}
.cont-6-img1{
    background-image: url("../img/4.jpg");
    background-size: cover;
    width: 563px;
    height: 754px;
    position: relative;

}
.cont-6-a{
    padding-top: 150px;
    padding-left: 35px;
    padding-right: 35px;
}
.cont-6-p1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 5rem;
    color: #ffffff;
    text-align: center;
    padding-top: 192px;
    margin: 0;
}
.cont-6-p2{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 1.25rem;
    text-transform: uppercase;
}
.cont-6-p3{
    font-family: Arial, Helvetica, sans-serif;
    float: right;
    color: white;
    font-size: 1.06rem;
}
.cont-6-p3 img{
    width: 31px;
    height: 20px;
}

.cont-6-img2{
    background-image: url("../img/5.jpg");
    background-size: cover;
    width: 740px;
    height: 366px;
}
.cont-6-p4{
    font-size: 2.25rem;
    margin: 0;
    padding-left: 77px;
    padding-top: 89px;
}
.cont-6-p5{
    font-size: 1.25rem;
    padding-left: 77px;
}
.cont-6-img3{
    background-image: url("../img/6.jpg");
    background-size: cover;
    width: 329px;
    height: 338px;
    float: left;
    margin-right: 82px;
    margin-top: 55px;
}
.cont-6-p6{
    font-size: 1.875rem;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.cont-6-img4{
    background-image: url("../img/7.jpg");
    background-size: cover;
    width: 329px;
    height: 338px;
    float: left;
    margin-top: 55px;
}
.cont-6-p7{
    padding-top: 130px;
    font-size: 1.875rem;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.cont-6-p7 span{
    font-size: 2.3125rem;
}


/*-----------Contenido 7-----------*/
.content-7 li{
    list-style: none;
}
.c-7-li-1{
    font-weight: bold;
    font-size: 1.25rem;
    text-transform: uppercase;
    padding-bottom: 50px;
}
.c-7-li-2{
    padding-bottom: 50px;
}
.c-7-li-3{
    padding-bottom: 30px;
}
.c-7-li-4 input{
    width: 250px;
    background-color: #f3f4f5;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 20px;
    border: none;
    color: #c9c7c2;
}
.c-7-li-4{
    padding-bottom: 20px;
}
.lista-1{
    float: left;
    padding-top: 124px;
    padding-bottom: 100px;
    margin-right: 170px;
}
.lista-2{
    float: left;
    padding-top: 124px;
    padding-bottom: 100px;
    margin-right: 170px;
}
.lista-3{
    float: left;
    padding-top: 124px;
    padding-bottom: 100px;
    margin-right: 180px;
}
.lista-4{
    float: left;
    padding-top: 124px;
    padding-bottom: 100px;
    margin-right: 0;
}
.lista-1 li{
    line-height: 25px;
}
.lista-2 li{
    line-height: 25px;
}
.lista-3 li{
    line-height: 25px;
}
.lista-4 li{
    line-height: 25px;
}
.boton-f a{
    border: 2px solid #000000;
    font-size: 16px;
    text-decoration: none;
    font-weight: bold;
    padding: 8px 20px;
    color: black;
    border-radius: 5px;
}