/*-----------Footer-----------*/
.fondo-4{
    background-color:  #f3f4f5;
}
.copy{
    float: left;
    padding-top: 30px;
    padding-bottom: 35px;
}
.redes{
    float: right;
    padding-top: 30px;
    padding-bottom: 35px;
}
.redes img +img{
    padding-left: 33px;
}