/*-----------Footer-----------*/
.footer{
    max-width: 100%;
    width: 100%;
}
.fondo-4{
    background-color:  $background-color-white-3;
}
.copy{
    float: left;
    padding-top: 2.142%;
    padding-bottom: 2.5%;
    font-size: 1rem;
}
.redes{
    float: right;
    padding-top: 2.285%;
    padding-bottom: 2.5%;
}
.redes a + a{
    padding-left: 33px;
}
.redes a{
    float: left;
}