.wrapper-principal{
    max-width: 100%;
    height: 1000px;
}
#wrapper-secundario{
    width: 1400px;
    margin: 0 auto;
    font-size: 16px;
}

.clearfix::after{
    content: "";
    clear: both;
    display: table;
}

h2{
    font-size: 3.75rem;
}