.header{
    max-width: 100%;
    width: 100%;
    position: relative;
    height: 1000px;
}
.fondo-1{
    background-image: url("../img/1.jpg");
    background-size: cover;
}
.fondo-1 img{
    display: block;
}
.logo{
    float: left;
    padding: 1.928% 1.357%;
    background-color: $background-color-black;
    margin-left: 7.142%;
    margin-top: 3.571%;
}
.logo a{
    color: $background-color-white;
    text-decoration: none;
    font-size: 1.875rem;
    letter-spacing: 0.625rem;
}
.menu{
    float: right;
    color: w$background-color-white;
    border-top: 3px solid $background-color-white;
    border-bottom: 3px solid $background-color-white;
    margin-right: 7.142%;
    margin-top: 4.071%;
}
.menu a{
    color: $background-color-white;
    text-decoration: none;
    font-size: 1.06rem;
}

/*-----------Texto-----------*/
.titulo-smile{
    position: absolute;
    bottom: 30.428%;
    right: 14.28%;
}
.titulo-smile p{
    color: $background-color-white;
    font-size: 13.75rem;
    letter-spacing: 0.937rem;
    margin: 0;
    font-family:'Raleway', sans-serif;
}
.text-smile{
    position: absolute;
    bottom: 25.571%;
    right: 21.428%;
}
.text-smile p{
    color: $background-color-white;
    font-size: 4rem;
    margin: 0;
}
.puntos-header{
    position: absolute;
    bottom: 0;
    left: 39.285%;
}