//Colores
$background-color-white: white;
$background-color-white-1: #ffeae2;
$background-color-white-2: #eae9e7;
$background-color-white-3: #f3f4f5;
$background-color-gris-Claro: #c9c7c2;
$background-color-black: black;

//Fuentes tamaño
$font-size-1: 3.75rem;
$font-size-2: 1.875rem;
$font-size-3: 1.06rem;
$font-size-4: 1.25rem;
$font-size-5: 2.25rem;
$font-size-6: 13.75rem;
$font-size-7: 4rem;
$font-size-8: 5rem;
$font-size-9: 1rem;