//Colores
$background-color-white: white;
$background-color-white-1: #ffeae2;
$background-color-white-2: #eae9e7;
$background-color-white-3: #f3f4f5;
$background-color-gris-Claro: #c9c7c2;
$background-color-black: black;